* {
  font-family: Roboto, sans-serif;
}
body {
  margin: 1rem;
}

.intro {
    display: flex;
    justify-content: center;
}

h1 {
  text-align: center;
}

.entry {
  display: flex;
  justify-content: center;

  label {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
  }
  textarea {
    border-radius: 0.3rem;
    padding: 0.3rem;
    min-height: 20rem;
    width: 30vw;
  }
}
.buttons {
  padding: 0.4rem;
  text-align: center;
}

button {
  background-color: #9394F1;
  border: 1px solid #9394F1;
  padding: 0.7rem 1rem 0.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  text-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.5);
  color: #ffffff;
  font-weight: thin;
  box-shadow: 0.0rem 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  transition: background-color 0.2s, box-shadow 0.1s;
  &:hover {
    background-color: #A4A6F4;
    /* border: 1px solid #C9CAF8; */
      box-shadow: 0.0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  &:active {
    background-color: #5D5FEA;
    border: 1px solid #5D5FEA;
  }
}

table {
  border: 0;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}

thead td {
  padding: 0.5rem;
}

thead {
  border-bottom: 2px solid #888888;
}

td {
  overflow: hidden;
  vertical-align: top;

  margin: 0;
  padding: 0.3rem;
&:first-child{
    min-width: 10rem;
}
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.certain {
  background-color: #25f8c0;
  font-weight: bold;
}
tr:nth-child(even).certain {
  background-color: #07daa1;
}

.possible {
  background-color: #ffe7ad;
}
tr:nth-child(even).possible {
  background-color: #ffd470;
}

.unlikely {
  color: #666666;
  font-style: italic;
}

.nothing {
  color: #aaaaaa;
  font-style: italic;
}


tr:nth-child(even).nothing {
  background-color: #f8f8f8;
}

.matchoptions {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.matchoptions:hover {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

span.joiner {
  color: #ffffff;
  font-style: italic;
}

.less-likely {
  opacity: 0.5;
  font-style: italic;
}
